<div class = "bod">
  <div class="col-md-10 col-sm-8 body-wrap">
              <div class="body-container">
                  <div class="body-header">
                      Labour Report
                    <%if admin? and not @lrod.blank?%>
<div class="add"><%= link_to users_report_labour_path(format: "xls"),:class=>"btn btn-info btn-sm" do%>
<i class="fa fa-arrow-circle-down">Download</i><%end%></div><br>
<%end%>
                    </div>
                    <div class="body-content">
                       <div class="table-container">
      <table class="table">                        
        <thead>
         <tr>                             	 
        <%$lrhd.each do|i|%>
        <th><%=i%></th>
        <%end%>
              </tr>
              </thead>
              <% if @lrod.blank? then %>
              <table><th>No records to display</th></table>
              <% else %>
              <tbody>
              <%t=0%>
                  <%@lrod.each do|k|%>
              <tr>
                      <%if Labour.where(:production_report_id=>k.id).any?%>
                            <%$lrfd.each do|i|%>
                            <td>
                            <!--% if Issue.column_names.include?(i)%-->
                                <%if ProductionReport.column_names.include?(i)%>
                                  <%= ProductionReport.where(:id=>k.id).maximum(i.to_sym)%>
                                <%else%>
                                    <%= Labour.where("issue_id IS '#{k.id}'").maximum(i.to_sym)%>
                                <%end%>
                            </td>
                      <%end%>
                    </tr>
                  <%end%>
              <%end%>
      </tbody>
      </table>
<%end%>
</div>
</div>
