<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
	<Cell><Data ss:Type="String">S.No</Data></Cell>
	<%$phd.each do|i|%>
        <Cell><Data ss:Type="String"><%=i%></Data></Cell>
	<%end%>
      </Row>
      <%t=1%>
	<%@purchase.each do |k|%>
      <Row>
	<Cell><Data ss:Type="String"><%= t%></Data></Cell>
	<%$pfd.each do |i|%>
	<%kk=@purchase.where(:id=>k.id).maximum(i.to_sym)%>
        <Cell><Data ss:Type="String"><%=kk%></Data></Cell>
	<%end%>
	<%t=t+1%>
      </Row>
	<%end%>
    </Table>
</Worksheet>
</Workbook>

