<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>      
        <Row>
          <%$lrhd.map do|i|%> 
          <Cell><Data ss:Type="String"><%=i%></Data></Cell> 
          <%end%>
  	</Row>
    <%t=1%>
 <%$lrod1.map do|k|%>
      <Row>
 <%if Labour.where(:issue_id=>k.id).any?%>
     <%$lrfd.map do|i|%>
        <%if ProductionReport.column_names.include?(i)%>
        <%aa= ProductionReport.where(:id=>k.id).maximum(i.to_sym)%>
        <Cell><Data ss:Type="String"><%=aa%></Data></Cell>
        <%else%>
          <%bb= Labour.where("production_report_id IS '#{k.id}'").maximum(i.to_sym)%>
        <Cell><Data ss:Type="String"><%=bb%></Data></Cell>
        <%end%>
        <%end%>
      </Row>
      <%t=t+1%> 
<%end%>
        <%end%>
    </Table>
  </Worksheet>
</Workbook>