<div class="row">
<div class="col-md-12">
<div class="navbar navbar-default navbar-fixed-bottom">
<div class="container">
<p align="center" style="color:#E56621;" ><i class="fa fa-copyright">2016Copyright White Plaast</i></p>
</div>
</div>
</div>
</div>

